<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AI-Driven Knowledge Synthesis Platform</title>
		<link rel="icon" href="../static/images/icon.png">
		<link rel="stylesheet" href="../static/css/styles.css">
		<script src="../static/js/script.js"></script>
	</head>

	<body>
		<header>
			<div class="logo-container">
				<img src="../static/images/icon.png" alt="Logo">
				<span>NotebookLM</span>
			</div>

			<nav>
				<a href="./#about">About</a>
				<a href="/dashboard">Dashboard</a>
				<a href="https://github.com/goswamiumang108/AI-Driven-Knowledge-Synthesis-Platform">GitHub</a>
				<a href="/creators">Creators</a>
				<a href="/documentation">Project Documentation</a>
			</nav>
		</header>

		<main style="max-width: 84%;">
			<h1>
				<span class="welcome-blue">Welcome to</span>
				<span class="gradient-text">NotebookLM</span>
			</h1>
			<div class="section-header">
				<h2>My notebooks</h2>
				<button id="createNewBtn">
					<span class="plus-icon"></span>
					Create new
				</button>
			</div>

			<div id="notebooksGrid" role="list">
				<!-- Notebooks will be rendered here by JavaScript -->
			</div>
		</main>
	</body>
</html>