<!-- 404 Not Found Page -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>404 Not Found</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="../static/images/icon.png">
		<link rel="stylesheet" href="../static/css/styles.css">
	</head>


	<body>
		<header>
			<div class="logo-container">
				<img src="../static/images/icon.png" alt="Logo">
				<span>IntelliDocs</span>
			</div>

			<nav>
				<a href="./#about">About</a>
				<a href="/app">Dashboard</a>
				<a href="https://github.com/goswamiumang108/AI-Driven-Knowledge-Synthesis-Platform">GitHub</a>
				<a href="/creators">Creators</a>
				<a href="/documentation">Project Documentation</a>
			</nav>
		</header>

		<h1>Error 404: Not Found</h1>
		<p>
			The page you are looking for might have been removed, had its name changed, or is temporarily unavailable. Please check the URL for errors or try to navigate back to the homepage.
		</p>
	</body>
</html>