<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AI-Driven Knowledge Synthesis Platform</title>
		<link rel="icon" href="../static/images/icon.png">
		<link rel="stylesheet" href="../static/css/styles.css">
		<script src="../static/js/app_script.js"></script>
	</head>


	<body>
		<header>
			<div class="logo-container">
				<img src="../static/images/icon.png" alt="Logo">
				<span>NotebookLM</span>
			</div>

			<nav>
				<a href="./about#about">About</a>
				<a href="/app">Dashboard</a>
				<a href="https://github.com/goswamiumang108/AI-Driven-Knowledge-Synthesis-Platform">GitHub</a>
				<a href="/creators">Creators</a>
				<a href="/documentation">Project Documentation</a>
			</nav>
		</header>

		<main>
			<h1>
				Think
				<span class="gradient-text">Smarter</span>
				<br>
				Not Harder
			</h1>

			<p>
				AI-Driven Knowledge Synthesis Platform is an advanced system that automates the conversion of unstructured data (e.g., PDFs, research papers, spreadsheets, web articles) into structured, multimodal outputs (summaries, quizzes, flashcards, podcasts) using Retrieval-Augmented Generation (RAG) and NLP models.
			</p>

			<button onclick="tryNotebookLM">Try NotebookLM</button>
		</main>
	</body>
</html>