<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Project Documentation | AI-Driven Knowledge Synthesis Platform</title>
		<link rel="icon" href="../static/images/icon.png">
		<link rel="stylesheet" href="../static/css/styles.css">
		<script src="../static/js/app_script.js"></script>
	</head>


	<body>
		<header>
			<div class="logo-container">
				<img src="../static/images/icon.png" alt="Logo">
				<span>IntelliDocs</span>
			</div>

			<nav>
				<a href="./#about">About</a>
				<a href="/app">Dashboard</a>
				<a href="https://github.com/goswamiumang108/AI-Driven-Knowledge-Synthesis-Platform">GitHub</a>
				<a href="/creators">Creators</a>
				<a href="/documentation">Project Documentation</a>
			</nav>
		</header>

		<main>
			<h1 class="gradient-text">Project Documentation</h1>

			<h2>The Project Report</h2>
			<iframe src="" type="application/pdf" width="84%" height="720px"></iframe>

			<h2>Software Requirements Specification Report</h2>
			<iframe src="../static/Documentation/SRS_Report/SRS_Report.pdf" type="application/pdf" width="84%"
					height="720px"></iframe>

			<h2>Project Synopsis</h2>
			<iframe src="../static/Documentation/Project_Synopsis/Project_Synopsis.pdf" type="application/pdf"
					width="84%" height="720px"></iframe>

			<h2>Project Proposal</h2>
			<iframe src="../static/Documentation/Project_Proposal/Project_Proposal.pdf" type="application/pdf"
					width="84%" height="720px"></iframe>
		</main>
	</body>
</html>